@import './variables.css';
@import './typography.css';

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-coffee-900);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
